## 1. String to ASCII conversion

In [16]:
text = "The quick brown fox jump over the lazy dog"

In [17]:
ascii = [ord(char) for char in text]
ascii

[84,
 104,
 101,
 32,
 113,
 117,
 105,
 99,
 107,
 32,
 98,
 114,
 111,
 119,
 110,
 32,
 102,
 111,
 120,
 32,
 106,
 117,
 109,
 112,
 32,
 111,
 118,
 101,
 114,
 32,
 116,
 104,
 101,
 32,
 108,
 97,
 122,
 121,
 32,
 100,
 111,
 103]

## 2.ASCII to String Conversion:

In [18]:
ascii

[84,
 104,
 101,
 32,
 113,
 117,
 105,
 99,
 107,
 32,
 98,
 114,
 111,
 119,
 110,
 32,
 102,
 111,
 120,
 32,
 106,
 117,
 109,
 112,
 32,
 111,
 118,
 101,
 114,
 32,
 116,
 104,
 101,
 32,
 108,
 97,
 122,
 121,
 32,
 100,
 111,
 103]

`chr() used to convert ascii back to char`

In [19]:
t = [chr(i) for i in ascii]
t

['T',
 'h',
 'e',
 ' ',
 'q',
 'u',
 'i',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'o',
 'w',
 'n',
 ' ',
 'f',
 'o',
 'x',
 ' ',
 'j',
 'u',
 'm',
 'p',
 ' ',
 'o',
 'v',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'l',
 'a',
 'z',
 'y',
 ' ',
 'd',
 'o',
 'g']

`` using join() to merge values back``

In [20]:
t = ''.join(t)

In [21]:
t

'The quick brown fox jump over the lazy dog'

``These steps are a way to encode a text for user.``